@charset "UTF-8";

body{

	padding-top: 80px;
	padding-left: 110px;

}

div#interface{

	width: 900px;

}

nav.navbar{

	background-color: #f8f8f8;

}

table#tabelaspec {

	border: 1px solid #606060;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;

}

table#tabelaspec td {

	border: 1px solid #606060;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	background-color: #cecece;
	
	font-family: Arial;

}

table#tabelaspec th {

	border: 1px solid #606060;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	background-color: #606060;
	color: #ffffff;

}

table#tabelaspec td.ce {

	color: #ffffff;
	background-color: #606060;
	vertical-align: top;
	font-weight: bold;

}

table#tabelaspec td.cd {

	background-color: #cecece;
	
}

table#tabelaspec caption {

	color: #888888;
	font-size: 13pt;
	font-weight: bolder;

}

table#tabelaspec caption span {

	display: block;
	float: right;
	color: #000000;
	font-size: 8pt;
	margin-top: 10px;
	

}